# General
__pycache__/
*.py[cod]
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/

# Database
*.sqlite3
postgres_data/

# Django
local_settings.py
staticfiles/
media/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE
.idea/
.vscode/