name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ "main" ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Ruff
        run: pip install ruff==0.3.0

      - name: Run Ruff (Linting)
        run: |
          ruff check .
          ruff format --check .


  test:
    runs-on: ubuntu-latest
    needs: lint

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        env:
          DJANGO_SETTINGS_MODULE: config.settings.local
          SECRET_KEY: "testing-secret-key"
          DATABASE_URL: postgres://postgres:password@localhost:5432/test_db
          REDIS_URL: redis://localhost:6379/0
        run: |
          pytest

  deploy:
    runs-on: ubuntu-latest
    needs: test

    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      env:
        PROD_ENV_FILE: ${{ secrets.PROD_ENV_FILE }}
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: PROD_ENV_FILE
        script: |
          cd loyalty-platform
          
          echo "$PROD_ENV_FILE" > .env.prod
          
          git fetch origin main

          git reset --hard origin/main
        
          docker compose -f docker-compose.prod.yml up -d --build
          
          docker compose -f docker-compose.prod.yml exec -T web python manage.py migrate
          docker compose -f docker-compose.prod.yml exec -T web python manage.py collectstatic --noinput
          
          docker compose -f docker-compose.prod.yml restart nginx